<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.travel.mapper.IndentMapper">
    <resultMap id="resultAllScenic" type="com.qf.travel.pojo.Indent">
        <id property="id" column="id"></id>
        <result property="sid" column="sid"></result>
        <result property="uname" column="uname"></result>
        <result property="icount" column="icount"></result>
        <result property="iprice" column="iprice"></result>
        <result property="itime" column="itime"></result>
        <result property="istate" column="istate"></result>
        <association property="scenic" javaType="scenic"
                     select="com.qf.travel.mapper.ScenicMapper.getScenicByid" column="sid">
        </association>
    </resultMap>
    <select id="findIndent" parameterType="string" resultMap="resultAllScenic">
    SELECT
      *
      FROM
      indent
      WHERE
    uname=#{uname}
    </select>
    <select id="findIndent1" parameterType="map" resultMap="resultAllScenic">
    SELECT
      *
      FROM
      indent
      WHERE
    uname=#{uname}
    and
    istate=#{istate}
    </select>
    <select id="getTotalCount" parameterType="string" resultType="int">
        select
        count(id)
        from
        indent
        where
        uname=#{uname}
    </select>
    <select id="getTotalCount1" parameterType="string" resultType="int">
        select
        count(id)
        from
        indent
        where
        uname=#{uname}
        and
        istate=#{istate}
    </select>
    <!--模糊查询全部-->
    <select id="queryAll" parameterType="string" resultMap="resultAllScenic">
    SELECT
      *
      FROM
      indent i,
      scenic s
      WHERE
      s.Sid=i.sid
      and
      concat(s.Sname,s.Sprice,s.Scity,s.Stype,i.istate) like "%"#{uuu}"%"
    </select>
    <!--根据用户查询-->
    <select id="queryAllByUname" parameterType="map" resultMap="resultAllScenic">
    SELECT
      *
      FROM
      indent i,
      scenic s
      WHERE
      s.Sid=i.sid
      and
      i.uname=#{uname}
      and
      concat(s.Sname,s.Sprice,s.Scity,s.Stype,i.istate) like "%"#{uuu}"%"
    </select>
    <!--根据id删除-->
    <delete id="deleteById" parameterType="int">
        delete from indent where id=#{id}
    </delete>
    <!--批量删除-->
    <delete id="deleteIds" parameterType="list">
        delete from indent
        <where>
            id in
            <foreach collection="list" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </where>
    </delete>

    <!--添加订单-->
    <insert id="saveindent" parameterType="indent">
        INSERT INTO indent VALUES (DEFAULT, #{sid},#{uname},#{icount},#{iprice},#{itime} ,DEFAULT );
    </insert>
    <select id="getByItime" parameterType="string" resultType="int">
        select id from indent where itime=#{itime}
    </select>
    <!--根据id 获取订单-->
    <select id="getIndentById" resultType="indent" parameterType="int">
        select * from indent where id=#{id}
    </select>
    <!--根据id改变state-->
    <update id="updateIstateById" parameterType="int">
        update indent set istate="已付款" where id =#{id}
    </update>
    <!--根据sid查询scenic-->
    <select id="getScenicBySid" parameterType="int" resultType="scenic">
        select * from scenic where sid=#{sid}
    </select>
</mapper>