<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.travel.mapper.PermissionMapper">
    <select id="loadAll" resultType="permission">
        select * from permission
    </select>
    <select id="getCount" resultType="int">
        select count(pid) from permission
    </select>
    <select id="loadAllById" resultType="permission" parameterType="int">
        select * from permission where pid in (select pid from role_permission where rid=#{rid})
    </select>
    <select id="findPermissionsByUname" parameterType="string" resultType="permission">
       SELECT p.*
        FROM
         user        u,
        permission  p,
        role r,
         user_role ur,
         role_permission rp
    WHERE
       u.uid = ur.uid
       AND ur.rid = r.rid
       and r.rid = rp.rid
       and rp.pid = p.pid
         AND u.uname=#{uname}
    </select>

    <insert id="addPermission" parameterType="permission">
        insert permission values(default,#{permission.pname},#{permission.mname},null,null)
    </insert>
    <delete id="deletePermission" parameterType="int">
        delete from permission where pid=#{id}
    </delete>
    <select id="loadPermissionByPid" parameterType="int">
        select * from permission where pid=#{id}
    </select>
    <select id="checkMname" resultType="permission" parameterType="string">
        select * from permission where mname=#{mname}
    </select>
    <select id="checkPname" resultType="permission" parameterType="string">
        select * from permission where pname=#{pname}
    </select>
    <delete id="deleteRolePermission" parameterType="int">
        delete from role_permission where pid=#{pid}
    </delete>
</mapper>