<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>旅游网</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" href="css/search.css">
    <meta charset="UTF-8">
    <title>订单页面</title>
    <script src="js/jquery-3.3.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style type="text/css">
    .login{
          width: 400px;
          font-size: 12px;
          position:absolute;right:10px;top:122px;
      }
    .login_out{
        width: 400px;
        font-size: 12px;
        position:absolute;right:10px;top:122px;
    }

    .right ul li {
        width: 100%;
        height: 72px;
        border: 1px solid #eee;
        margin-bottom: 10px;
        font-size: 12px;
        overflow: hidden;
        background-color: #fff;
    }
    .right ul li .left {
        float: left;
        width: 50%;
    }
    .right ul li .left img {
        width:100%;
    }
    .right ul li .right {
        width: 50%;
        float: right;
        padding-left: 4px;
        box-sizing: border-box;
        padding-top: 7px;
    }
    .right {
        width: 244px;
        height: 460px;
        float: right;
        background-color: #f7f7f7;
        padding: 8px;
        padding-top: 0;
        font-size: 14px;
    }
    .right .top .hot {
        float: left;
        color: #ff4848;
        margin-right: 7px;
        line-height: 38px;
        border-bottom: 4px solid #ff4848;
    }
    .right .top {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-bottom: 2px solid #eee;
        margin-bottom: 8px;
    }
</style>
<body>
<!-- 头部 start -->
<header id="header">
    <div class="top_banner">
        <img src="images/top_banner.jpg" alt="">
    </div>
    <div class="shortcut">
        <!-- 未登录状态  -->
        <div  class="login_out" th:if="${session.islogin==true}">
                <span  class="label label-danger" style="cursor:pointer;" onclick="window.location.href='login'">登录
                </span>&nbsp; &nbsp;
            <a href="register">注册</a>&nbsp; &nbsp;
            <a href="login">我的订单</a>&nbsp; &nbsp;
            <a href="login">个人中心 </a>&nbsp; &nbsp;
            <a href="login" class="collection">我的收藏</a>&nbsp; &nbsp;
        </div>
        <!-- 登录状态  -->
        <div class="login" th:if="${session.islogin==false}">
                <span>欢迎回来，<font th:text="${session.currentUser.uname}"></font>&nbsp; &nbsp;
                    <a href="findIndent">我的订单</a>&nbsp; &nbsp;
                    <a href="indent">个人中心 </a>&nbsp; &nbsp;
                  <a href="myfavorite" class="collection">我的收藏</a>&nbsp; &nbsp;
                <a href="logout">退出</a>
                </span>

        </div>
    </div>
    <div class="header_wrap">
        <div class="topbar">
            <div class="logo">
                <img src="images/logo1.png" style="height: 60px;width: 220px;">
            </div>
            <div class="search">
                <input name="" type="text" placeholder="请输入订单名称" class="search_input" autocomplete="off">
                <a href="javascript:;" class="search-button">搜索</a>
            </div>
            <div class="hottel">
                <div class="hot_pic">
                    <img src="images/hot_tel.jpg" alt="">
                </div>
                <div class="hot_tel">
                    <p class="hot_time">客服热线(9:00-6:00)</p>
                    <p class="hot_num">400-618-9090</p>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- 头部 end -->
<!-- 首页导航 -->
<div class="navitem">
    <ul class="nav">
        <li class="nav-active"><a href="index.html">首页</a></li>
        <li><a href="route_list.html">所有订单</a></li>
        <li><a href="route_list.html">待付款</a></li>
        <li><a href="route_list.html">已支付</a></li>
        <li><a href="evaluate">评价</a></li>
        <li><a href="favoriterank">收藏排行榜</a></li>
    </ul>
</div>

    <div class="xinxi clearfix">
        <div style="text-align:center;left: 14%;position:absolute;" class="left">
        <form action="deleteUser" method="post">
            <table class="orderListTitleTable">
                <thead >
                <tr>
                    <th width="30">#</th>
                    <th width="30"><input type="checkbox" id="all" name="all"></th>
                    <th>商品信息</th>
                    <th width="80px">订单数量</th>
                    <th width="80px">订单价格</th>
                    <th width="100px">提交订单时间</th>
                    <th width="80px">订单状态</th>
                    <th width="80px">订单详情</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="i:${indents}" >
                    <td th:text="${i.id}"></td>
                    <td><input type="checkbox" name="ids" ></td>
                    <td><img class="img-responsive" th:src="${i.Simgs}" style="width: 230px;height: 200px;">
                        <a th:text="${i.Sname}"></a></td>
                    <td th:text="${i.icount}"></td>
                    <td th:text="${i.iprice}"></td>
                    <td th:text="${i.itime}"></td>
                    <td th:text="${i.istate}"></td>
                    <td>
                        <a type="button" class="btn btn-success btn-xs" href="indent_detail"><i class="glyphicon glyphicon-check"></i></a>
                       <!-- <a type="button" class="btn btn-primary btn-xs" th:href="@{qUpdate(userId=${u.userId})}"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a type="button" class="btn btn-danger btn-xs" th:href="@{deleteUser(userId=${u.userId})}"><i class="glyphicon glyphicon-remove"></i></a>
                   --> </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8" align="center" >
                        <ul class="pagination">
                            <a class="btn btn-default" th:href="@{findIndent(page=1)}">首页</a>
                            <a class="btn btn-default" th:href="@{findIndent(page=${currentPage+(-1)})}">上一页</a>
                            <a class="btn btn-default" th:href="@{findIndent(page=${currentPage+1})}">下一页</a>
                            <a class="btn btn-default" th:href="@{findIndent(page=${maxPage})}">末页</a>
                        </ul>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
        </div>
        <div class="right" style="text-align:center;right: 7%;position:absolute;">
            <div class="top">
                <div class="hot">HOT</div>
                <span>热门推荐</span>
            </div>
            <ul>
                <li>
                    <div class="left"><img src="images/04-search_09.jpg" alt=""></div>
                    <div class="right">
                        <p>清远新银盏温泉度假村酒店/自由行套...</p>
                        <p>网付价<span>&yen;<span>899</span>起</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="left"><img src="images/04-search_09.jpg" alt=""></div>
                    <div class="right">
                        <p>清远新银盏温泉度假村酒店/自由行套...</p>
                        <p>网付价<span>&yen;<span>899</span>起</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="left"><img src="images/04-search_09.jpg" alt=""></div>
                    <div class="right">
                        <p>清远新银盏温泉度假村酒店/自由行套...</p>
                        <p>网付价<span>&yen;<span>899</span>起</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="left"><img src="images/04-search_09.jpg" alt=""></div>
                    <div class="right">
                        <p>清远新银盏温泉度假村酒店/自由行套...</p>
                        <p>网付价<span>&yen;<span>899</span>起</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="left"><img src="images/04-search_09.jpg" alt=""></div>
                    <div class="right">
                        <p>清远新银盏温泉度假村酒店/自由行套...</p>
                        <p>网付价<span>&yen;<span>899</span>起</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>