<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="js/echarts.min.js"></script>
	  <script src="jquery/jquery-2.1.1.min.js"></script>
	<style>
	.tree li {
        list-style-type: none;
		cursor:pointer;
	}
	.tree-closed {
	    height : 40px;
	}
	.tree-expanded {
	    height : auto;
	}
	</style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <div><a class="navbar-brand" style="font-size:28px;" href="#">千锋旅游平台后台管理 - 控制面板</a></div>
        </div>
		  <div id="navbar" class="navbar-collapse collapse">
			  <ul class="nav navbar-nav navbar-right">
				  <li style="padding-top:8px;">
					  <div class="btn-group">
						  <button type="button" class="btn btn-default btn-success dropdown-toggle" data-toggle="dropdown">
							  <i style="float: left" class="glyphicon glyphicon-user" th:text="${session.user.realname}"></i>
							  <!--<div style="float: left" th:text=""></div>-->
							  <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
							  <li><a href="#"><i class="glyphicon glyphicon-cog"></i> 个人设置</a></li>
							  <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 消息</a></li>
							  <li class="divider"></li>
							  <li><a href="logout"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
						  </ul>
					  </div>
				  </li>
				  <li style="margin-left:10px;padding-top:8px;">
					  <button type="button" class="btn btn-default btn-danger">
						  <span class="glyphicon glyphicon-question-sign"></span> 帮助
					  </button>
				  </li>
			  </ul>
		  </div>
	  </div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<div class="tree">
					<ul style="padding-left:0px;" class="list-group">
						<li class="list-group-item tree-closed" >
							<a href="main"><i class="glyphicon glyphicon-dashboard"></i> 控制面板</a>
						</li>
						<li class="list-group-item">
							<span><i class="glyphicon glyphicon glyphicon-tasks"></i> 权限管理 <span class="badge" style="float:right">3</span></span>
							<ul style="margin-top:10px;display:none;">
								<li style="height:30px;">
									<a href="adminis"><i class="glyphicon glyphicon-user"></i> 管理员维护</a>
								</li>
								<li style="height:30px;">
									<a href="meManager"><i class="glyphicon glyphicon-king"></i> 会员维护</a>
								</li>
								<li style="height:30px;">
									<a href="permission"><i class="glyphicon glyphicon-lock"></i> 权限维护</a>
								</li>
								<li style="height:30px;">
									<a href="role"><i class="glyphicon glyphicon-lock"></i> 角色维护</a>
								</li>
							</ul>
						</li>
						<li class="list-group-item tree-closed">
							<span><i class="glyphicon glyphicon-ok"></i> 景点管理 <span class="badge" style="float:right">3</span></span>
							<ul style="margin-top:10px;display:none;">
								<li style="height:30px;">
									<a href="addScience"><i class="glyphicon glyphicon-check"></i> 新增信息</a>
								</li>
								<li style="height:30px;">
									<a href="Scienceexamine"><i class="glyphicon glyphicon-check"></i> 景点审核</a>
								</li>
								<li style="height:30px;">
									<a href="ScienceMaintain"><i class="glyphicon glyphicon-check"></i> 景点信息维护</a>
								</li>
							</ul>
						</li>
						<li class="list-group-item tree-closed">
							<span><i class="glyphicon glyphicon-ok"></i> 酒店管理 <span class="badge" style="float:right">3</span></span>
							<ul style="margin-top:10px;display:none;">
								<li style="height:30px;">
									<a href="addHotel"><i class="glyphicon glyphicon-check"></i> 新增信息</a>
								</li>
								<li style="height:30px;">
									<a href="hotelexamine"><i class="glyphicon glyphicon-check"></i> 酒店审核</a>
								</li>
								<li style="height:30px;">
									<a href="hotelMaintain"><i class="glyphicon glyphicon-check"></i> 酒店信息维护</a>
								</li>
							</ul>
						</li>
						<li class="list-group-item tree-closed">
							<span><i class="glyphicon glyphicon-ok"></i> 路线管理 <span class="badge" style="float:right">3</span></span>
							<ul style="margin-top:10px;display:none;">
								<li style="height:30px;">
									<a href="addRoute"><i class="glyphicon glyphicon-check"></i> 新增信息</a>
								</li>
								<li style="height:30px;">
									<a href="Routeexamine"><i class="glyphicon glyphicon-check"></i> 路线审核</a>
								</li>
								<li style="height:30px;">
									<a href="RouteMaintain"><i class="glyphicon glyphicon-check"></i> 路线信息维护</a>
								</li>
							</ul>
						</li>
						<li class="list-group-item tree-closed">
							<span><i class="glyphicon glyphicon-th-large"></i> 业务管理 <span class="badge" style="float:right">1 </span></span>
							<ul style="margin-top:10px;display:none;">
								<li style="height:30px;">
									<a href="IndentManage"><i class="glyphicon glyphicon-check"></i> 订单审核</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">控制面板</h1>

          <div class="row placeholders">
            <div id="main" style="width: 100%;height:600px;">
            </div>
			  <script type="text/javascript">
				  $(document).ready(function() {
					  // 基于准备好的dom，初始化echarts实例
					  var myChart = echarts.init(document.getElementById('main'));
					  // 指定图表的配置项和数据
					  var names=[];
					  var values=[];
					  //数据加载完之前先显示一段简单的loading动画
					  myChart.showLoading();
					  $.ajax({
						  type : "post",
						  async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
						  url : "pieMap",    //请求发送到dataActiont处
						  data : {},
						  dataType : "json",        //返回数据形式为json
						  success : function(result) {
							  //请求成功时执行该函数内容，result即为服务器返回的json对象
							  if (result) {
								  for(var i=0;i<result.length;i++){
									  names.push(result[i].name);
									  values.push(result[i].value);
								  }
								  myChart.hideLoading();    //隐藏加载动画
								  myChart.setOption(
										  {
											  title: {
												  text: '主要经营',
												  x: 'center'
											  },
											  tooltip: {
												  trigger: 'item',
												  formatter: "{a} <br/>{b} : {c} ({d}%)"
											  },
											  legend: {
												  orient: 'vertical',
												  left: 'left',
												  data: names
											  },
											  series: [
												  {
													  name: '业务',
													  type: 'pie',
													  radius: '55%',
													  center: ['50%', '60%'],
													  data: result,
													  itemStyle: {
														  emphasis: {
															  shadowBlur: 10,
															  shadowOffsetX: 0,
															  shadowColor: 'rgba(0, 0, 0, 0.5)'
														  }
													  }
												  }
											  ]
										  }
								  );
							  }
						  },
						  error : function(errorMsg) {
							  //请求失败时执行该函数
							  alert("图表请求数据失败!");
							  myChart.hideLoading();
						  }
					  });//end ajax

				  });//刷新方法结束
			  </script>
              <br>
              <hr color="red">
              <br>
              <div id="main1" style="width: 100%;height:400px;">
              </div>
              <script type="text/javascript">
                  $(document).ready(function() {
                      // 基于准备好的dom，初始化echarts实例
                      var myChart = echarts.init(document.getElementById('main1'));
                      // 指定图表的配置项和数据
                      var names=[];
                      var values=[];
                      //数据加载完之前先显示一段简单的loading动画
                      myChart.showLoading();
                      $.ajax({
                          type : "post",
                          async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                          url : "hotelpei",    //请求发送到dataActiont处
                          data : {},
                          dataType : "json",        //返回数据形式为json
                          success : function(result) {
                              //请求成功时执行该函数内容，result即为服务器返回的json对象
                              if (result) {
                                  for(var i=0;i<result.length;i++){
                                      names.push(result[i].name);
                                      values.push(result[i].value);
                                  }
                                  myChart.hideLoading();    //隐藏加载动画
                                  myChart.setOption(
                                      {
                                          title: {
                                              text: '酒店业务',
                                              x: 'center'
                                          },
                                          tooltip: {
                                              trigger: 'item',
                                              formatter: "{a} <br/>{b} : {c} ({d}%)"
                                          },
                                          legend: {
                                              orient: 'vertical',
                                              left: 'left',
                                              data: names
                                          },
                                          series: [
                                              {
                                                  name: '订单',
                                                  type: 'pie',
                                                  radius: '55%',
                                                  center: ['50%', '60%'],
                                                  data: result,
                                                  itemStyle: {
                                                      emphasis: {
                                                          shadowBlur: 10,
                                                          shadowOffsetX: 0,
                                                          shadowColor: 'rgba(0, 0, 0, 0.5)'
                                                      }
                                                  }
                                              }
                                          ]
                                      }
                                  );
                              }
                          },
                          error : function(errorMsg) {
                              //请求失败时执行该函数
                              alert("图表请求数据失败!");
                              myChart.hideLoading();
                          }
                      });//end ajax

                  });//刷新方法结束
              </script>
              <br>
              <hr color="red">
              <br>
              <div id="main2" style="width: 100%;height:400px;">
              </div>
              <script type="text/javascript">
                  $(document).ready(function() {
                      // 基于准备好的dom，初始化echarts实例
                      var myChart = echarts.init(document.getElementById('main2'));
                      // 指定图表的配置项和数据
                      var names=[];
                      var values=[];
                      //数据加载完之前先显示一段简单的loading动画
                      myChart.showLoading();
                      $.ajax({
                          type : "post",
                          async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                          url : "scenicpei",    //请求发送到dataActiont处
                          data : {},
                          dataType : "json",        //返回数据形式为json
                          success : function(result) {
                              //请求成功时执行该函数内容，result即为服务器返回的json对象
                              if (result) {
                                  for(var i=0;i<result.length;i++){
                                      names.push(result[i].name);
                                      values.push(result[i].value);
                                  }
                                  myChart.hideLoading();    //隐藏加载动画
                                  myChart.setOption(
                                      {
                                          title: {
                                              text: '景点业务',
                                              x: 'center'
                                          },
                                          tooltip: {
                                              trigger: 'item',
                                              formatter: "{a} <br/>{b} : {c} ({d}%)"
                                          },
                                          legend: {
                                              orient: 'vertical',
                                              left: 'left',
                                              data: names
                                          },
                                          series: [
                                              {
                                                  name: '订单',
                                                  type: 'pie',
                                                  radius: '55%',
                                                  center: ['50%', '60%'],
                                                  data: result,
                                                  itemStyle: {
                                                      emphasis: {
                                                          shadowBlur: 10,
                                                          shadowOffsetX: 0,
                                                          shadowColor: 'rgba(0, 0, 0, 0.5)'
                                                      }
                                                  }
                                              }
                                          ]
                                      }
                                  );
                              }
                          },
                          error : function(errorMsg) {
                              //请求失败时执行该函数
                              alert("图表请求数据失败!");
                              myChart.hideLoading();
                          }
                      });//end ajax

                  });//刷新方法结束
              </script>
              <br>
              <hr color="red">
              <br>
              <div id="main3" style="width: 100%;height:400px;">
              </div>
              <script type="text/javascript">
                  $(document).ready(function() {
                      // 基于准备好的dom，初始化echarts实例
                      var myChart = echarts.init(document.getElementById('main3'));
                      // 指定图表的配置项和数据
                      var names=[];
                      var values=[];
                      //数据加载完之前先显示一段简单的loading动画
                      myChart.showLoading();
                      $.ajax({
                          type : "post",
                          async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                          url : "routepei",    //请求发送到dataActiont处
                          data : {},
                          dataType : "json",        //返回数据形式为json
                          success : function(result) {
                              //请求成功时执行该函数内容，result即为服务器返回的json对象
                              if (result) {
                                  for(var i=0;i<result.length;i++){
                                      names.push(result[i].name);
                                      values.push(result[i].value);
                                  }
                                  myChart.hideLoading();    //隐藏加载动画
                                  myChart.setOption(
                                      {
                                          title: {
                                              text: '路线业务',
                                              x: 'center'
                                          },
                                          tooltip: {
                                              trigger: 'item',
                                              formatter: "{a} <br/>{b} : {c} ({d}%)"
                                          },
                                          legend: {
                                              orient: 'vertical',
                                              left: 'left',
                                              data: names
                                          },
                                          series: [
                                              {
                                                  name: '订单',
                                                  type: 'pie',
                                                  radius: '55%',
                                                  center: ['50%', '60%'],
                                                  data: result,
                                                  itemStyle: {
                                                      emphasis: {
                                                          shadowBlur: 10,
                                                          shadowOffsetX: 0,
                                                          shadowColor: 'rgba(0, 0, 0, 0.5)'
                                                      }
                                                  }
                                              }
                                          ]
                                      }
                                  );
                              }
                          },
                          error : function(errorMsg) {
                              //请求失败时执行该函数
                              alert("图表请求数据失败!");
                              myChart.hideLoading();
                          }
                      });//end ajax

                  });//刷新方法结束
              </script>
          </div>
        </div>
      </div>
    </div>

    <script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="script/docs.min.js"></script>
        <script type="text/javascript">
            $(function () {
			    $(".list-group-item").click(function(){
                    // jquery对象的回调方法中的this关键字为DOM对象
                    // $(DOM) ==> JQuery
				    if ( $(this).find("ul") ) { // 3 li
						$(this).toggleClass("tree-closed");
						if ( $(this).hasClass("tree-closed") ) {
							$("ul", this).hide("fast");
						} else {
							$("ul", this).show("fast");
						}
					}
				});
			    /*$.post("pieMap",function (data) {
			    	alert(data);
					echarts.init($("#main")).setOption({
						series:'pie',
						data:map
					});
				})*/
            });
        </script>
  </body>
</html>
